<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Invitations</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../static/css/bootstrap-4.4.1-dist/css/bootstrap.css" th:href="@{/css/bootstrap-4.4.1-dist/css/bootstrap.css}">

<!-- Fontawesome -->
<link rel="stylesheet" href="../static/css/fontawesome-free-5.12.1-web/css/all.css" th:href="@{/css/fontawesome-free-5.12.1-web/css/all.css}">

<!-- JS -->
<!-- Agregado por lepo. -->
<script src="../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script src="../static/css/bootstrap-4.4.1-dist/js/bootstrap.min.js" th:src="@{/css/bootstrap-4.4.1-dist/js/bootstrap.min.js}"></script>
</head>

<body>

<div class="container-fluid mx-auto my-2">

   	<div th:replace="static :: menu"></div>
   	
   	<div class="my-2 p-2 border rounded">
   	
   		<h1 class="text-center">Invitations</h1>
   		
   		<hr>
   		
   		<a class="btn btn-info" href="#" th:href="@{/events/info/{id}(id=${event.id})}"><i class="fa fa-info" aria-hidden="true"></i> Info</a>
	    
	    <!-- Agregado por lepo.
	    	 Agregué la clase text-center para alinear el div que contiene el mensaje.
	    <div th:if="${message != null}" class="m-4 text-center">
		
			<span class="alert" th:classappend="${classMessage}" role="alert" th:inline="text">[(${message})]</span>
		
		</div>
		-->
		<!-- Alerta que puede cerrarse por el usuario ó se cierra automaticamente luego de unos segundos. -->
		<div style="display: none" th:if="${message != null}" class="my-4 alert alert-dismissible fade show" th:classappend="${classMessage}" role="alert" id="alert">
		
			<span th:inline="text">[(${message})]</span>
			
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			
				<span aria-hidden="true">&times;</span>
				
			</button>
			
		</div>
	    
	    <h2 class="text-center" th:inline="text">[[${event.name}]]</h2>
	    
	    <p th:inline="text"><i class="fa fa-calendar-day" aria-hidden="true"></i> <b>Event Date:</b>  [[${#dates.format(event.eventDate, 'dd-MM-yyyy')}]]</p>
	    
	    <hr>
	    
	    <p th:inline="text"><i class="fa fa-map-pin" aria-hidden="true"></i> <b>Place:</b> [[${event.place}]]</p>
	    
	    <hr>
	    
	    <p th:inline="text"><i class="fa fa-dollar-sign" aria-hidden="true"></i> <b>Cost:</b> [[(${event.cost > 0} ? ${event.cost} : 'Free')]]</p>
	    
	    <hr>
	    
	    <p th:inline="text"><b>Private / Public:</b> [[(${event.privateEvent} ? 'Private' : 'Public')]]</p>
	    
	    <hr>
	
	    <form action="#" th:action="@{/invitations/add/{id}(id=${event.id})}" method="post">
	    
	    	<div class="form-group">
	    
		        <select class="form-control" name="username" id="username">
		        
		            <option value="- Select -">- Select -</option>
		            
		            <option th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}"></option>
		            
		        </select>
	        
	        </div>
	        
	        <hr>
	        
	        <button type="submit" class="btn btn-primary w-100">Submit</button>
	        
	    </form>
    
    </div>
    
</div>
<!-- Agregado por lepo. -->
<script src="../static/js/functions.js" th:src="@{/js/functions.js}"></script>    
</body>
</html>