<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Invitations</title>
<style>
    .container {
	margin: 5px auto;
	padding: 10px;
	border: 1px solid #000;
}

.section {
	margin: 10px auto;
	padding: 5px;
	border: 1px solid #000;
}
</style>
</head>

<body>
    <a href="/home">Home</a>
    <h1>Invitations</h1>  
    <span th:text="${errorAlreadyInvited}"></span>
    <div class="container">
        <div class="section">
            <h2 th:text="${event.name}"></h2>
            <p th:text="'Event Date: ' + ${#dates.format(event.eventDate, 'dd-MM-yyyy')}"></p>
            <p th:text="'Place: ' + ${event.place}"></p>
            <p th:text="'Cost: ' + (${event.cost > 0} ? ${event.cost} : 'Free')"></p>
            <p th:text="'Private / Public: ' + (${event.privateEvent} ? 'Private' : 'Public')"></p>
        </div>
    </div>

    <form action="#" th:action="@{/addinvite/{id}(id=${event.id})}" method="post">
        <select name="username" id="username">
            <option value="--Seleccione">--Seleccione</option>
            <option th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}"></option>
        </select>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>